@import './mixins';
@include FadeIn;

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.terminal-span {
  font-family: 'VT323', monospace;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--input_text_color);
  background-color: var(--input_highlight);
  padding-left: .15rem;
  padding-right: 1rem;
  &::after {
    content: "?";
    animation: fadeIn 1s infinite;
    animation-fill-mode: backwards;
  }
}
.user-input {
  display: flex;
  border: none;
  background: var(--input_highlight);
  font-family: 'VT323', monospace;
  font-size: 2.1rem;
  color: var(--input_text_color);
  margin-left: -.3rem;
  min-height: 28.8px;
  padding-left: .2rem;
  padding-bottom: .2rem;
  flex: 1;
  &:disabled {
    background: var(--input_highlight);
    color: var(--input_text_color);
    opacity: 1;
  }
}
.error, #error-message {
  font-family: 'VT323', monospace;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--error_color);
  background-color: var(--error_highlight);
}