@import './_mixins.scss';

.hero-lower-wrapper {
  @include BasicDivWrapper;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.lower-intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
.lower-info-header {
  @include InfoHeader;
  color: #eee;
}
.lower-info {
  @include Info;
  color: #ccc;
}
.quote-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 0;
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-gap: 3.5rem;
  }
}
.quote {
  @include Quote;
}