@import './_mixins.scss';

.hero-lower-wrapper {
  @include BasicDivWrapper;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.lower-intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
.lower-info-header {
  @include InfoHeader;
  color: #eee;
}
.lower-info {
  @include Info;
  color: #ccc;
}
.quote-grid {
  @include QuoteGrid;
}
.quote {
  @include Quote;
}