@mixin BasicDivWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  width: 100%;
}
@mixin PageWrapper {
  @include BasicDivWrapper;
  margin-top: 7.5rem;
  min-height: 100vh;
  @media (max-width: 450px) {
    padding: 3rem;
  }
}
@mixin OverridePageWrapper {
  @include PageWrapper;
  @media (max-width: 450px) {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@mixin HeroWrapper {
  margin-bottom: 5rem;
  line-height: 1;
  width: 100%;
}
@mixin WavingOtter {
  width: 20rem;
  margin-right: 1.2rem;
  @media (min-width: 400px) {
    width: 25rem;
  }
  @media (min-width: 850px) {
    width: 30rem;
  }
}
@mixin WavingText {
  background: #fff;
  border-radius: 3rem;
  align-self: flex-start;
  margin-top: 2.5rem;
  padding: 2rem;
  font-family: 'VT323', monospace;
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
  margin-left: -6rem;
  min-width: 135px;
  text-align: center;
  @media (max-width: 445px) {
    font-size: 2.6rem;
  }
}
@mixin HeroText {
  font-size: 6rem;
  padding-top: 3rem;
  color: #fff;
  line-height: 1.2;
  font-weight: 800;
  @media (min-width: 1000px) {
    font-size: 8rem;
  }
}
@mixin HeroSubText {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ccc;
  margin-top: 2rem;
}
@mixin PurpleSpan {
  .purple-span {
    color: var(--LIGHT_PURPLE);
  }
}
@mixin InfoHeader {
  font-size: 4rem;
  line-height: 1.2;
  color: white;
  margin-bottom: 2rem;
  @media (min-width: 1000px) {
    font-size: 6rem;
  }
}
@mixin Info {
  font-size: 2.6rem;
  font-weight: 500;
  color: white;
  line-height: 1.2;
}
@mixin QuoteGrid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 0;
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-gap: 3.5rem;
  }
}
@mixin Quote {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  padding: 5rem 2rem;
  color: black;
  background-color: #ddd;
  border-radius: 5px;
  line-height: 1.3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: var(--MAIN_PURPLE);
    color: #fff;
    transform: scale(1.03);
  }
  @media (min-width: 1000px) {
    font-size: 2rem;
  }
}
@mixin CommonMenuItem {
  text-align: left;
  font-family: 'VT323', monospace;
  font-size: 1.6rem;
  padding: .5rem;
}
@mixin TypeWriterStylePTag {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: 'VT323', monospace;
  font-weight: 800;
  animation: typing 5s steps(75, end);
}
@mixin Spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border-top-color: var(--LIGHT_PURPLE);
  z-index: 1010;
  &.isActive {
    display: block
  }
}
@mixin SpinnerOverlay {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  opacity: 90%;
  &.isActive {
    display: inline-block;
  }
}
@mixin ButtonLoading {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border-top-color: var(--LIGHT_PURPLE);
  z-index: 1010;
}
// animations
@mixin FadeIn {
  @keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}
@mixin Typing {
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
}
@mixin Spin {
  @keyframes spin {
    100% {transform: rotate(360deg)}
  }
}