.about-hero-wrapper {
  margin-bottom: 5rem;
  line-height: 1;
  width: 100%;
}

.about-hero-text {
  font-size: 6rem;
  padding-top: 3rem;
  color: #fff;
  line-height: 1.2;
  font-weight: 800;
}
@media (min-width: 1000px) {
  .about-hero-text {
    font-size: 8rem;
  }
}

.about-hero-subtext {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ccc;
  margin-top: 2rem;
  color: #ccc;
}

.about-upper-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about-upper-content > div:last-child {
  margin-top: 7.5rem;
}

.about-infobox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 2.5rem;
}
.about-infobox-wrapper > h3:nth-child(3) {
  margin-top: 3rem;
}

.about-overlay-text {
  background: #fff;
  border-radius: 3rem;
  align-self: flex-start;
  margin-top: 2.5rem;
  padding: 2rem;
  font-family: "VT323", monospace;
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
  margin-left: -6rem;
  min-width: 135px;
  text-align: center;
  margin-top: 0;
  padding: 1.6rem;
  position: absolute;
  top: 2%;
  left: 55%;
  transform: translate(-55%, -2%);
}
@media (max-width: 445px) {
  .about-overlay-text {
    font-size: 2.6rem;
  }
}
@media (max-width: 800px) {
  .about-overlay-text {
    font-size: 2.4rem;
    padding: 1.4rem;
  }
}
@media (max-width: 600px) {
  .about-overlay-text {
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .about-overlay-text {
    font-size: 1.8rem;
    padding: 1.2rem;
    top: 0%;
  }
}
@media (max-width: 400px) {
  .about-overlay-text {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
}
@media (max-width: 350px) {
  .about-overlay-text {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

.about-info-header {
  font-size: 4rem;
  line-height: 1.2;
  color: white;
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .about-info-header {
    font-size: 6rem;
  }
}

.about-info {
  font-size: 2.6rem;
  font-weight: 500;
  color: white;
  line-height: 1.2;
  color: #ccc;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.about-lower-content {
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;
}

.fact-grid-header {
  font-size: 4rem;
  line-height: 1.2;
  color: white;
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .fact-grid-header {
    font-size: 6rem;
  }
}

.fact-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .fact-grid {
    grid-template-columns: 1fr;
    grid-gap: 3.5rem;
  }
}

.fact {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  padding: 5rem 2rem;
  color: black;
  background-color: #ddd;
  border-radius: 5px;
  line-height: 1.3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s ease-in-out;
}
.fact:hover {
  background-color: var(--MAIN_PURPLE);
  color: #fff;
  transform: scale(1.03);
}
@media (min-width: 1000px) {
  .fact {
    font-size: 2rem;
  }
}

.about-contact-wrapper {
  margin-top: 7.5rem;
}
.about-contact-wrapper > button:last-child {
  margin-top: 6rem;
  width: 30rem;
}

.btn.loading .btn-text {
  visibility: hidden;
  opacity: 0;
}

.btn.loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border-top-color: var(--LIGHT_PURPLE);
  z-index: 1010;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.about-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  width: 100%;
  margin-top: 7.5rem;
  min-height: 100vh;
}
@media (max-width: 450px) {
  .about-page-wrapper {
    padding: 3rem;
  }
}
@media (max-width: 450px) {
  .about-page-wrapper {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/*# sourceMappingURL=about.css.map */
