{{define "about-upper"}}
    <div class="about-hero-wrapper">
        <h1 class="about-hero-text">
            Complete and <span class="purple-span">Otter</span> Nonsense
        </h1>
        <p class="about-hero-subtext">
            as the lore and conjecture around the origins and creation of otterly spun out of control, we
            decided it was necessary to set a few of things straight. for the record. and for the good of all human-kind
        </p>
    </div>
    <div class="about-upper-content">
        <div class="about-infobox-wrapper">
            <div class="grid-pic">
                <img src="/static/images/cuteabout.webp" />
                <p class="about-overlay-text">could I borrow a rock?</p>
            </div>
            <div class="grid-text">
                <h3 class="about-info-header">is <span class="purple-span">otterly</span> a crypto meta-verse keto NFT coin?</h3>
                <p class="about-info">
                    no. otterly is neither a coin, leg-less avatar, nor a weigh to lose weight (see what I did there?). otterly ridiculous games is a web application built to provide fun and sometimes demoralizing text adventure games that feature otters as the characters and protagonists.
                </p>
            </div>
        </div>
        <div class="about-infobox-flex">
            <h3 class="about-info-flex-heading">
                was this otterly ridiculous <span class="purple-span">history</span> once?
            </h3>
            <p class="about-info-flex-sub">
                you ask a lot of questions. yes, our original idea centered around photoshopping otters into historical situations. and we still think that's an extremely marketable idea - so don't steal it. however we decided to go the text adventure games route for absolutely no good reason whatsoever.
            </p>
        </div>
    </div>
{{end}}