{{define "about-lower"}}
    <div class="about-lower-content">
        <h3 class="fact-grid-header"><span class="purple-span">otterly</span> plausible fast facts</h3>
        <div class="fact-grid">
            <p class="fact">otterly ridiculous history was conceived in a mastodon thread that got out of hand</p>
            <p class="fact">the original idea was to photoshop otters into important moments in history</p>
            <p class="fact">i later changed the idea to be text adventure games featuring otters as protagonists</p>
            <p class="fact">our first game added to the site was "One Way or the Otter" a space opera adventure</p>
            <p class="fact">the myth that otterly was almost bought out by a certain wildlife channel is absolutely not false</p>
            <p class="fact">a typical otterly ridiculous history adventure can take weeks to fully write, design, and test</p>
        </div>
        <div class="about-contact-wrapper">
            <h3 class="about-info-header">get in <span class="purple-span">touch</span></h3>
            <p class="about-info">drop us a message via our contact page. tell us how we're doing (only nice comments please - our egos are so fragile). sell us your story idea! *all sales not to exceed $0</p>
            <button id="about-contact-btn" class="btn purple">
                <span class="btn-text">contact us</span>
            </button>
        </div>
    </div>
{{end}}