{{template "base" .}}
{{define "title"}}What is Otterly? | All About Our Ridiculous Text Adventures{{end}}
{{define "css"}}
    <link rel="stylesheet" href="../static/stylesheets/css/about.css" />
{{end}}
{{define "meta"}}
    <meta name="description" content="Discover the origins and fun facts about Otterly Ridiculous Text Adventures!" />
    <meta property="og:title" content="What is Otterly? | All About Our Ridiculous Text Adventures" />
    <meta property="og:description" content="Discover the origins and fun facts about Otterly Ridiculous Text Adventures!" />
    <meta property="og:image" content="../static/images/ohHai.png" />
    <meta property="og:url" content="https://otterly.games" />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="../static/images/ohHai.png" />
    <meta property="twitter:title" content="What is Otterly? | All About Our Ridiculous Text Adventures" />
    <meta property="twitter:description" content="Discover the origins and fun facts about Otterly Ridiculous Text Adventures!" />
    <meta property="twitter:image" content="../static/images/ohHai.png" />
{{end}}
{{define "content"}}
    <div class="about-page-wrapper">
        {{block "about-upper" .}}
        {{end}}
        {{block "about-lower" .}}
        {{end}}
    </div>
{{end}}
{{define "js"}}
    <script type="module">
        import {ABOUT_CONTACT_BUTTON} from "../static/js/screenElements.js";
        ABOUT_CONTACT_BUTTON.addEventListener("click", () => {
            ABOUT_CONTACT_BUTTON.classList.add("loading")
            window.location.href = "/contact"
        })
    </script>
{{end}}