{{template "base" .}}
{{define "title"}}Otterly Ridiculous Games | Contact Page{{end}}
{{define "css"}}
    <link rel="stylesheet" href="../static/stylesheets/css/contact.css"/>
{{end}}
{{define "meta"}}
    <meta name="description" content="Otterly Ridiculous Games - The best place on the web for ridiculous text adventure games you can play in your browser!" />
    <meta property="og:title" content="Otterly Ridiculous Games | Contact Page" />
    <meta property="og:description" content="Otterly Ridiculous Games Contact Page | Contact Us!" />
    <meta property="og:image" content="../static/images/ohHai.png" />
    <meta property="og:url" content="https://otterly.games/contact" />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="../static/images/ohHai.png" />
    <meta property="twitter:title" content="Otterly Ridiculous Games Contact Page | Contact Us" />
    <meta property="twitter:description" content="Otterly Ridiculous Games About Page | Contact Us" />
    <meta property="twitter:image" content="../static/images/ohHai.png" />
{{end}}
{{define "content"}}
    <div class="contact-page-wrapper">
        <div class="contact-hero-wrapper">
            <h1 class="contact-hero-header">
                <span class="purple-span">Otterly</span> Contact (able)
            </h1>
            <p class="contact-hero-info">idea for a text adventure? problem with a game? want to tell us how amazing we
                are? need to borrow a phone charger? hit up the Otterly team in the form below!</p>
        </div>
        <div class="contact-form-wrapper">
            <p>*all form fields required</p>
            <form id="contact-form" class="contact-form">
                <label for="name">Name</label>
                <input id="contact-name" name="name" required />
                <label for="email">Email</label>
                <input id="contact-email" name="email" required />
                <p hidden><label for="subject">subject</label><input id="contact-subject" name="subject" /></p>
                <label for="message">Message</label>
                <textarea id="contact-message-area" maxlength="1000" cols="30" rows="15" name="message" required></textarea>
                <p><span id="contact-message-length"></span>/1000</p>
                <button id="contact-submit-button" type="submit" class="btn purple" disabled aria-disabled="true">
                    <span class="btn-text">submit</span>
                </button>
            </form>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/axios@1.3.1/dist/axios.min.js"></script>
    <script type="module">
        import {CONTACT_NAME, CONTACT_EMAIL, CONTACT_MESSAGE_AREA,CONTACT_MESSAGE_LENGTH, CONTACT_SUBMIT_BUTTON, CONTACT_FORM} from "../static/js/screenElements.js";
        (function() {
            CONTACT_MESSAGE_LENGTH.innerHTML = "0"
        })()
        const fs = formState()
        function handleButtonState() {
            if (fs.isFormFilled()) {
                CONTACT_SUBMIT_BUTTON.removeAttribute("disabled")
                CONTACT_SUBMIT_BUTTON.setAttribute("aria-disabled", "false")
            } else {
                CONTACT_SUBMIT_BUTTON.setAttribute("disabled", "true")
                CONTACT_SUBMIT_BUTTON.setAttribute("aria-disabled", "true")
            }
        }
        CONTACT_NAME.addEventListener("input", (e) => {
            fs.setName(e.target.value)
            handleButtonState()
        })
        CONTACT_EMAIL.addEventListener("input", (e) => {
            fs.setEmail(e.target.value)
            handleButtonState()
        })
        CONTACT_MESSAGE_AREA.addEventListener("input", (e) => {
            let currentTextLength = e.target.value.length
            CONTACT_MESSAGE_LENGTH.innerHTML = currentTextLength.toString()
            fs.setMessage(e.target.value)
            handleButtonState()
        })
        CONTACT_FORM.addEventListener("submit", (e) => {
            e.preventDefault()
            CONTACT_SUBMIT_BUTTON.setAttribute("disabled", "true")
            CONTACT_SUBMIT_BUTTON.setAttribute("aria-disabled", "true")
            CONTACT_SUBMIT_BUTTON.classList.add("loading")
            handleFormSubmission()
        })

        async function handleFormSubmission() {
            const sEl = document.getElementById("contact-subject")
            const subject = sEl.value
            const { name, email, message } = fs.contactDetails()
            const body = {
                name,
                email,
                subject,
                message,
            }
            try {
                const resp = await axios.post("/api/contact-submission", body)
                if (resp.data.Status === 200) {
                    window.location.href = "/thank-you"
                } else {
                    window.location.href = "/submission-error"
                }
            } catch (e) {
                console.log(e)
                window.location.href = "/submission-error"
            }
        }
        function formState() {
            let name = ""
            let email = ""
            let message = ""

            function setName(s) {
                name = s
            }
            function setEmail(s) {
                email = s
            }
            function setMessage(s) {
                message = s
            }
            function contactDetails() {
                return {
                    name,
                    email,
                    message,
                }
            }
            function isFormFilled() {
                if (name.length && email.length && message.length) {
                    return true
                }
                return false
            }
            return {
                setName,
                setEmail,
                setMessage,
                contactDetails,
                isFormFilled,
            }
        }

    </script>
{{end}}