{{define "inventory-added"}}
    <div class="inventory-wrapper">
        <p class="inventory-title">inventory item added</p>
        <img class="inventory-img" src="../static/images/inventory.png" alt="a pixelated yellow container with a handle - there is a cool picture of a robot on the front of the container" />
        <p class="inventory-added">GOT <span class="inventory-added-dynamic"></span></p>
        <button class="inventory-dismiss">dismiss</button>
    </div>
{{end}}