{{template "base" .}}
{{define "title"}}
    {{.Data.game.Title}}
{{end}}
{{define "css"}}
    <link rel="stylesheet" href="../static/stylesheets/css/game.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}
{{define "meta"}}
    {{$metaTitle := (printf "Otterly Ridiculous Games | %s" .Data.game.Title)}}
    {{$metaUrl := (printf "https://otterly.games/games/%s" .Data.game.GameID)}}
    <meta name="description" content={{.Data.game.Description}} />
    <meta property="og:title" content={{$metaTitle}} />
    <meta property="og:description" content={{.Data.game.Description}} />
    <meta property="og:image" content="../static/images/ohHai.png" />
    <meta property="og:url" content={{$metaUrl}} />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="../static/images/ohHai.png" />
    <meta property="twitter:title" content={{.Data.game.Title}} />
    <meta property="twitter:description" content={{.Data.game.Description}} />
    <meta property="twitter:image" content="../static/images/ohHai.png" />
{{end}}
{{define "content"}}
    <div class="game-template-wrapper">
        {{block "game-loading" .}}
        {{end}}
        <div id="gi-wrapper" class="game-interface-wrapper">
            <div id="game-screen" class="game-screen">
                {{block "game-menubar" .}}
                {{end}}
                <div class="game-content-wrapper" id="game-content-wrapper">
                    <div class="status-wrapper">
                        <p class="status">Status: <span id="status"></span></p>
                    </div>
                    <p class="node-text" id="nodeText">{{.Data.game.Node.Text}}</p>
                    <div class="options-wrapper" id="options-wrapper">
                        {{range $val := .Data.game.Node.Options}}
                            <p class="option" id={{$val.ID}} data-command={{$val.Command}}>{{$val.Text}}</p>
                        {{end}}
                    </div>
                    <div class="input-wrapper">
                        <span class="terminal-span">command: </span>
                        <input class="user-input" id="user-input" />
                    </div>
                    <p class="error">Error@Console ~ % <span id="error-message">null</span></p>
                </div>
            </div>
        </div>
        {{block "game-modal" .}}
        {{end}}
    </div>
{{end}}
{{define "js"}}
    <script src="
    https://cdn.jsdelivr.net/npm/axios@1.3.1/dist/axios.min.js
    "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module">
        import {gameState} from "../static/js/gameState.js";
        import {GameStartUp} from "../static/js/gameStartUp.js";
        import {GetNodeAndAlignState, ReturnNextNode} from "../static/js/gameLogic.js";

        const gs = gameState()
        const gameTitle = {{.Data.game.Title}}
        const totalNodes = {{.Data.game.TotalNodes}}
        const defaultOptions = {{.Data.game.Node.Options}}
        GameStartUp(gs, gameTitle, totalNodes)

        async function handleInput(userCommand) {
            const cleanUC = userCommand.toLowerCase().trim()
            const nextNode = ReturnNextNode(gs, cleanUC, defaultOptions)
            if (nextNode !== null) {
                await GetNodeAndAlignState(gs, nextNode)
            }
        }
        const ui = document.getElementById("user-input")
        ui.addEventListener("keydown", (e) => {
            if (e.key === "Enter") {
                handleInput(e.target.value)
            }
        })
    </script>
{{end}}