{{define "game-menubar"}}
    <div class="menu-wrapper">
        <i class="fa-solid fa-gamepad"></i>
        <div class="menu-item-wrapper">
            <button class="menu-button" id="menu-button">Game</button>
            <div class="content-dropdown" id="Game-drop-content">
                <div class="item-wrapper">
                    <p>{{.Data.game.Title}}</p>
                </div>
            </div>
        </div>
        <div class="menu-item-wrapper">
            <button class="menu-button" id="menu-button">File</button>
            <div class="content-dropdown" id="File-drop-content">
                <div class="item-wrapper">
                    <button id="theme-toggle"></button>
                    <button id="reset-button">reset</button>
                </div>
            </div>
        </div>
        <div class="menu-item-wrapper">
            <button class="menu-button" id="menu-button">Inventory</button>
            <div class="content-dropdown" id="Inventory-drop-content">
                <div class="item-wrapper inventory"></div>
            </div>
        </div>
        <p class="menu-points">Points: <span id="point-span"></span></p>
    </div>
{{end}}