{{define "game-loading"}}
    <div id="loading-screen" class="loading-screen">
        <div class="bootloader-wrapper">
            <div id="ls-wrapper" class="load-screen-wrapper"></div>
        </div>
    </div>
{{end}}