{{define "home-lower"}}
    <div class="hero-lower-wrapper">
        <div class="lower-intro">
            <h3 class="lower-info-header">what are people saying about <span class="purple-span">otterly?</span></h3>
            <p class="lower-info">what can we say? our games have an effect on people! have a look at what real players are really saying about otterly text adventures, for reals</p>
        </div>
        <div class="quote-grid">
            <p class="quote"></p>
            <p class="quote"></p>
            <p class="quote"></p>
        </div>
    </div>
{{end}}