{{define "home-hero"}}
    <div class="hero-wrapper">
        <div class="hero-outer-wrapper">
            <h1 id="hero-text" class="hero-text"></h1>
            <h2 class="hero-sub-text">history</h2>
        </div>
        <div class="hero-content-wrapper">
            <div class="bg-wrapper">
                <div class="overlay-wrapper">
                    <img class="waving-otter" src="/static/images/pixelWaveOtter.webp" alt="a cute pixelate otter waving at you" />
                    <p class="oh-hai">oh hai...</p>
                </div>
                <div class="hero-infobox-wrapper">
                    <div class="infobox">
                        <h3 class="hero-info-header">what is <span class="purple-span">otterly?</span></h3>
                        <p class="hero-info">fun and funny text adventure games featuring otters, in beautiful retro styles, choose your theme, build your inventory, be an otter!</p>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <button id="home-browse-btn" class="btn purple">browse games</button>
                <button id="home-aboutus-btn" class="btn default">about us</button>
            </div>
        </div>
    </div>
{{end}}