{{template "base" .}}
{{define "title"}}Otterly Ridiculous Games | Play Ridiculous Text Adventures Online{{end}}
{{define "css"}}
    <link rel="stylesheet" href="../static/stylesheets/css/home.css" />
{{end}}
{{define "meta"}}
    <meta name="description" content="Play fun and ridiculous text adventure games online right in your browser!" />
    <meta property="og:title" content="Otterly Ridiculous Games | Play Ridiculous Text Adventure Games Online" />
    <meta property="og:description" content="Play fun and ridiculous text adventure games online right in your browser!" />
    <meta property="og:image" content="../static/images/ohHai.png" />
    <meta property="og:url" content="https://otterly.games" />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="../static/images/ohHai.png" />
    <meta property="twitter:title" content="Otterly Ridiculous Games | Play Ridiculous Text Adventure Games Online" />
    <meta property="twitter:description" content="Play fun and ridiculous text adventure games online right in your browser!" />
    <meta property="twitter:image" content="../static/images/ohHai.png" />
{{end}}
{{define "content"}}
   {{block "home-hero" .}}
   {{end}}
   {{block "home-lower" .}}
   {{end}}
{{end}}
{{define "js"}}
    <script type="module">
        import { Typewriter } from "../static/js/utils.js";
        import {HOME_BROWSE_BUTTON,HOME_ABOUTUS_BUTTON, HOME_HERO_TEXT} from "../static/js/screenElements.js";
        const str = "Otterly Ridiculous"
        Typewriter(str, HOME_HERO_TEXT)
        HOME_BROWSE_BUTTON.addEventListener("click", () => {
            HOME_BROWSE_BUTTON.classList.add("loading")
            window.location.href = "/games"
        })
        HOME_ABOUTUS_BUTTON.addEventListener("click", () => {
            HOME_ABOUTUS_BUTTON.classList.add("loading")
            window.location.href = "/about"
        })
    </script>
        <script type="module">
            import {Quotes} from "../static/js/utils.js";
            const randomQuotes = [];
            function getQuotesAndPopulate() {
                while(randomQuotes.length < 3) {
                    let qi = Math.floor(Math.random() * Quotes.length)
                    let quote = Quotes[qi]
                    if (!randomQuotes.includes(quote)) {
                        randomQuotes.push(quote);
                    }
                }
                const quotes = document.querySelectorAll(".quote")
                quotes.forEach((q, index) => {
                    q.innerHTML = randomQuotes[index]
                })
            }
            getQuotesAndPopulate()
        </script>
{{end}}